.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.swipe-interface {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.swipe-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  cursor: grab;
}

.rounded-img {
  border-radius: 5%; /* This makes the image circular */
  overflow: hidden;
}
